// Заголовки, общие БЄМ блоки и проче...
.products-slider {
	// .products-slider__container
	&__container {
	}
	// .products-slider__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(20);
		}
	}
	// .products-slider__title
	&__title {
		letter-spacing: 0.05em;
		font-size: rem(30);
		font-weight: 700;
		line-height: math.div(46, 30);
	}
	// .products-slider__more
	&__more {
		color: rgba(20, 20, 20, 0.58);
		transition: color 0.3s ease 0s;
		font-weight: 600;
		font-size: rem(18);
		display: inline-flex;
		align-items: center;
		gap: em(15, 18);
		&::after {
			
			font-size: em(7, 18);
			transform: rotate(-90deg);
			color: $mainOrange;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba(20, 20, 20, 1);
			}
		}
	}
	// .products-slider__slider
	&__slider {
		padding: rem(15) rem(20);
		margin: 0px rem(-20);
	}
	// .products-slider__swiper
	&__swiper {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .products-slider__slide
	&__slide {
	}
	// .products-slider__dotts
	&__dotts {
	}
}
.product-card {
	background-color: #fff;
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease 0s;
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
			transform: scale(1.02);
		}
	}

	// .product-card__sale
	&__sale {
		position: absolute;
		top: rem(20);
		left: 0;
		color: #fff;
		background-color: $mainOrange;
		padding: rem(6) rem(22);
		z-index: 10;
		pointer-events: none;
	}

	// .product-card__image
	&__image {
		@include adaptiveValue("padding-top", 25, 15);
		@include adaptiveValue("padding-bottom", 25, 15);
		@include adaptiveValue("padding-left", 50, 15);
		@include adaptiveValue("padding-right", 50, 15);
	}
	// .product-card__item-image-ibg
	&__item-image-ibg {
		display: block;
		padding-bottom: percent(240, 270);
	}
	// .product-card__body
	&__body {
		padding: rem(20);
		display: flex;
		flex-direction: column;
	}
	// .product-card__title
	&__title {
		flex: 1 1 auto;
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(34, 20);
		&:not(:last-child) {
			margin-bottom: em(10, 20);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .product-card__link-title
	&__link-title {
	}
	// .product-card__info
	&__info {
		&:not(:last-child) {
			margin-bottom: em(15, 16);
		}
	}
	// .product-card__rating
	&__rating {
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: rem(26);
		}
	}
	// .product-card__footer
	&__footer {
		border-top: 1px solid rgba(20, 20, 20, 0.5);
		padding: rem(20) 0px;
		display: flex;
		align-items: center;
		gap: rem(15);
	}
	// .product-card__price
	&__price {
		flex: 1 1 auto;
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(34, 20);
	}
	&__compare,
	&__favorite {
		font-size: rem(24);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
			}
		}
	}
	// .product-card__compare
	&__compare {
	}
	// .product-card__favorite
	&__favorite {
		font-size: rem(24);
	}
	// .product-card__cart
	&__cart {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			img {
				margin: 7px;
			}
		}
	}
}
.info-product-card {
	color: #ababab;
	display: flex;
	justify-content: space-between;
	gap: rem(10);
	font-size: rem(16);
	// .info-product-card__size
	&__size {
	}
	// .info-product-card__materials
	&__materials {
		text-align: right;
	}
}
//========================================================================================================================================================
.dotts {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	margin: 0px auto;
	overflow: hidden;
	.swiper-pagination-bullet {
		margin: 0px rem(7.5);
		cursor: pointer;
		height: rem(30);
		width: rem(18);
		position: relative;
		transition: all 0.3s ease 0s;
		&::after {
			content: "";
			height: rem(2);
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translate(0px, -50%);
			background-color: #898989;
		}
		&::before {
			content: "";
			background-color: $mainOrange;
			width: rem(10);
			height: rem(10);
			top: 50%;
			left: 0;
			border-radius: 50%;
			transform: translate(0px, -50%);
			position: absolute;
			opacity: 0;
		}
	}
	.swiper-pagination-bullet-active {
		&::after {
			background-color: $mainOrange;
		}
		&::before {
			opacity: 1;
			transition: left 3s linear 0s;
			left: rem(8);
		}
	}
}
//========================================================================================================================================================
.products-new {
	padding: rem(45) 0px 0px 0px;
	@include adaptiveValue("margin-bottom", 75, 30);
	position: relative;
	background: url("./src/image/main-page/new-products/bg.jpg") bottom / cover no-repeat;
	&::before {
		content: "";
		background-color: #fff;
		height: 46px;
		position: absolute;
		right: 0;
		top: 0;
		width: percent(1030, 1920);
	}
	// .products-new__inner
	&__inner {
		@include adaptiveValue("padding-top", 55, 20);
		@include adaptiveValue("padding-bottom", 55, 20);
	}
	// .products-new__container
	&__container {
		display: grid;
		row-gap: 40px;
		@media (min-width: $tablet) {
			grid-template-columns: rem(400) 1fr;
			align-items: start;
		}
	}
	// .products-new__body
	&__body {
		@include adaptiveValue("padding-right", 70, 20, 1630, 992, 2);
	}
	// .products-new__section
	&__section {
		position: relative;
		z-index: 2;
	}

	// .products-new__title
	&__title {
		font-weight: bold;
		font-size: rem(30);
		color: #fff;
		line-height: math.div(46, 30);
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}
	// .products-new__text
	&__text {
		font-size: rem(18);
		line-height: math.div(27, 18);
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.7);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .products-new__link
	&__link {
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			img {
				margin: 10px;
			}
		}
	}

	// .products-new__content
	&__content {
		min-width: 0;
		@media (min-width: $tablet) {
			padding: rem(37) 0px 0px 0px;
		}
	}

	// .products-new__slider
	&__slider {
	}
	// .products-new__swiper
	&__swiper {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .products-new__slide
	&__slide {
	}

	// .products-new__dotts
	&__dotts {
		position: relative;
		z-index: 3;
	}
}
//========================================================================================================================================================
.link-arrow {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	color: $mainOrange;
	font-weight: 600;
	font-size: rem(20);
	&::before {
		margin: 0px 0 0px em(20, 20);
		transform: rotate(-90deg);
		font-size: rem(8);
	}
	@media (any-hover: hover) {
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}
//========================================================================================================================================================
.breadcrumbs {
	white-space: nowrap;
	overflow: auto;
	height: rem(22);
	// .breadcrumbs__list
	&__list {
		display: flex;
	}
	// .breadcrumbs__item
	&__item {
	}
	// .breadcrumbs__link
	&__link {
		opacity: 0.5;
		display: flex;
		align-items: center;
		&::after {
			content: '';
         display: block;
         width: 12px;
         height: 12px;
         border-top: 2px solid $mainOrange;
         border-left: 2px solid $mainOrange;
         transform: rotate(135deg);
			margin: 0px em(10, 6);
		}
	}
	// .breadcrumbs__current
	&__current {
		color: $mainOrange;
	}
}
//========================================================================================================================================================
.title {
	font-weight: 700;
	font-size: rem(24);
	line-height: math.div(29, 24);
	&:not(:last-child) {
		margin-bottom: em(25, 24);
	}
}
//========================================================================================================================================================
.pagging {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@include adaptiveValue("gap", 30, 15);
	// .pagging__arrow
	&__arrow {
		color: $mainOrange;
		&::before {
			font-size: rem(10);
			transform: rotate(-90deg);
		}
		&:disabled {
			color: rgba(0, 0, 0, 0.12);
		}
		// .pagging__arrow_left
		&_left {
			transform: rotate(-180deg);
		}
		// .pagging__arrow_right
		&_right {
		}
	}
	// .pagging__list
	&__list {
		display: flex;
		align-items: center;
		gap: rem(13);
	}
	// .pagging__item
	&__item {
	}
	// .pagging__link
	&__link {
		width: rem(34);
		height: rem(34);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		&._active {
			background-color: $mainOrange;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainOrange;
				color: #fff;
			}
		}
	}
}

[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}

.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
}
.noUi-base,
.noUi-connects {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
	overflow: hidden;
	z-index: 0;
}
.noUi-connect,
.noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	transform-origin: 0 0;
	transform-style: flat;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
	left: 0;
	right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
	top: -100%;
	width: 0;
}
.noUi-horizontal .noUi-origin {
	height: 0;
}
.noUi-handle {
	backface-visibility: hidden;
	position: absolute;
}
.noUi-touch-area {
	height: 100%;
	width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	transition: transform 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: rem(1);
	background-color: $mainOrange;
}
.noUi-horizontal .noUi-handle {
	width: rem(18);
	height: rem(18);
	right: rem(-9);
	top: rem(-9);
	border-radius: 50%;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	right: -6px;
	bottom: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
	left: -17px;
	right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
	background-color: $mainOrange;
	//border-radius: 4px;
	//border: 1px solid #d3d3d3;
	//box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}
.noUi-connects {
	border-radius: 3px;
}
.noUi-connect {
	background-color: $mainDarkColor;
}
/* Handles and cursors;
 */
.noUi-draggable {
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}
.noUi-handle {
	background: #e8aa31;
	box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.3);
	&::before {
		content: "";
		position: absolute;
		background-color: $mainDarkColor;
		width: rem(12);
		height: rem(12);
		border-radius: 50%;
		top: rem(3);
		left: rem(3);
	}
}
.noUi-active {
}
/* Handle stripes;
 */

/* Disabled state;
 */
[disabled] .noUi-connect {
	background: #b8b8b8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
	box-sizing: border-box;
}
.noUi-pips {
	position: absolute;
	color: #999;
}
/* Values;
 *
 */
.noUi-value {
	position: absolute;
	white-space: nowrap;
	text-align: center;
}
.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
	position: absolute;
	background: #ccc;
}
.noUi-marker-sub {
	background: #aaa;
}
.noUi-marker-large {
	background: #aaa;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	padding: 10px 0;
	height: 80px;
	top: 100%;
	left: 0;
	width: 100%;
}
.noUi-value-horizontal {
	transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
	transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}
.noUi-value-vertical {
	transform: translate(0, -50%);
	padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
	transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}
.noUi-tooltip {
	display: block;
	position: absolute;
	// border: 1px solid #d9d9d9;
	border-radius: 3px;
	background: #fff;
	color: #000;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
	transform: translate(0, -50%);
	top: 50%;
	right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
	transform: translate(50%, 0);
	left: auto;
	bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
	transform: translate(0, -18px);
	top: auto;
	right: 28px;
}
